html {
  height:100%;
  background:#63D0FF;
}

body{
  margin:0;
  padding:0;
  background:#63D0FF;
  height:100%;
}

#wrapper {
  position:relative;
  width:100%;
  height:100%;
}

#clouds{
  background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/56901/bg-clouds2-tinypng.png") repeat-x 0 bottom #ACE6FF;
  width:100%;
  height:230px; /*190px*/
  min-height:230px;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  -webkit-transform:translate3d(0,0,0.01);
  transform:translate3d(0,0,0.01);
}


.jumbotron {
  z-index: 5;
  margin-top: 8%;
  box-shadow: 12px 12px 2px 1px #817e813b;
  background-color: #dff5ff;
}

.btn {
  border: none;
  color: #839496;
  transition: 0.5s;
}
.btn:hover {
  background-color: #839496;
  color: #dff5ff;
}
span {
  font-size: 2.5em;
}

.formulaire {
  z-index: 5;
}

.formulaire {
  position: absolute;
  margin-left: 33%;
  margin-top: 12%;
  background-color: white;
  border-radius: 3%;
}

.form-control {
  background-color: white;
  border-width: 5px solid;
  border-color: grey;
}
.custom-file-label{
  background-color: white;
  border-width: 5px solid;
  border-color: grey;
}
.custom-file-label::after {
  background: #a9bdbd;
  color: white;
}

.btn-primary {
  background: #a9bdbd;
  width: 100%;
  color: white;
}
.btn-primary:hover {
  background: white;
  letter-spacing: 0.4rem;
  font-size: 1.5rem;
  color: #a9bdbd;
}
