{% extends 'base.html.twig' %}

{% block title %}{{controller_name}}{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div id="wrapper">
  <div id="clouds"></div>

<div class='col-4 formulaire'>

    {{ form(form) }}

</div>
</div>
{% endblock %}
