{% extends 'base.html.twig' %}

{% block title %}{{controller_name}}
{% endblock %}

{% block body %}

	<div id="wrapper">
		<div id="clouds"></div>
		<div class="d-flex justify-content-center text-center p-5">
			<div class="jumbotron ">
				<h1 class="display-3">Hi there!</h1>
				<p class="lead">Download your content here</p>
				<div class="d-flex m-5"><a href="{{ path('sucess') }}" <button class="btn btn-outline-secondary"> <i class="far fa-file-archive fa-2x"></i>
				<span>
					Download</span>
			</button>
		</a>
	</div>
</div>
</div>
</div>

{% endblock %}